@import url("styles/header.css");

:root{
    --cor-de-fundo: #EBECEE;
    --branco: #faf1f1;
    --amarelo: #cba707; 
    --roxo: #C75EEB; 
    --preto:
    -- "Poppins";
    --fonte-principal: "Poppins";
    --fonte-secundaria:"Josefin Sans";
}

body{
    background-color: var(--cor-de-fundo);
}

